<h1>Faça seu pedido!</h1>
<li>Picadinho de carne com legumes</li>
<div class="row">
  <img class="img-fluid" src="assets/img/carnecomLegumes.jpg">
</div>
<li>Frango ao molho com legumes</li>
<div class="row">
  <img class="img-fluid" src="assets/img/frango-legumes.jpg">
</div>
<li>Bife acebolado</li>
<div class="row">
  <img class="img-fluid" src="assets/img/bifeAcebolado.jpg">
</div>
<li>Linguiça calabresa acebolada</li>
<div class="row">
  <img class="img-fluid" src="assets/img/linguicaAcebolada.jpg">
</div>
<li>Omelete a moda da casa</li>
<div class="row">
  <img class="img-fluid" src="assets/img/omelete.jpg">
</div>
<li>File de frango grelhado</li>
<div class="row">
  <img class="img-fluid" src="assets/img/frango-grelhado.jpg">
</div>
<li>Bisteca de pernil grelhada</li>
<div class="row">
  <img class="img-fluid" src="assets/img/pernil.jpg">
</div>