<h1>Melhores caldos <br> da região
</h1>
<li>Caldo Verde</li>
<div class="row">
  <img class="img-fluid" src="assets/img/caldo verde.jpg">
</div>
<li>Vaca atolada</li>
<div class="row">
  <img class="img-fluid" src="assets/img/vacaAtolada.jpg">
</div>
<li>Caldo de feijão</li>
<div class="row">
  <img class="img-fluid" src="assets/img/caldofeijao.jpg">
</div>
<li>Mocotó</li>
<div class="row">
  <img class="img-fluid" src="assets/img/caldo-de-mocoto.jpeg">
</div>
<li>Frango com legumes</li>
<div class="row">
  <img class="img-fluid" src="assets/img/caldoFrangocomLegumes.jpg">
</div>
<li>Abobora com carne seca</li>
<div class="row">
  <img class="img-fluid" src="assets/img/Caldo-de-abóbora-com-carne-seca.jpg">
</div>
<li>Carne com legumes</li>
<div class="row">
  <img class="img-fluid" src="assets/img/caldoCarneLegumes.png">
</div>

